body {
  line-height: 1.5;
}

button {
  background-color: $black;
  color: $white;

  &:hover {
    color: $yellow;
  }

  &:disabled {
    background-color: $gray-500;
  }
}

input {
  background-color: $global-bg-color;
  padding: 8px 16px;
  border-width: 2px;
  width: 100%;
}

input::placeholder {
  font-family: $Noto-Sans-TC;
}

a {
  text-decoration: none !important;
  color: $black !important;
}